[build]
  publish = "."

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    Referrer-Policy = "strict-origin-when-cross-origin"
    X-Content-Type-Options = "nosniff"
    Content-Security-Policy = "default-src 'self' 'unsafe-inline' 'unsafe-eval' https://cdn.tailwindcss.com https://code.iconify.design https://fonts.googleapis.com https://fonts.gstatic.com https://api.iconify.design https://foryogart.kit.com https://*.convertkit.com https://*.facebook.com https://*.fbcdn.net; frame-src https://*.facebook.com https://*.facebook.net; img-src 'self' data: https:;"
